.site-header
  height: 50px
  padding: 10px 20px
  color: #fff
  background: #3691e0

  a
    color: #fff
    text-shadow: 0 0.1em 0.1em darken($blue, 20%)
    &.btn
      color: $text-color
      text-shadow: none
      margin-top: 0

  h1.logo
    font-size: 28px
    text-align: center
    letter-spacing: -1px
    font-weight: normal
    @media screen and (max-width: $small-screen)
      font-size: 24px

  .trigger
    float: left
    font-size: 24px
    line-height: 40px
    margin-left: 10px
    cursor: pointer