.navbar
  height: 50px
  padding: 10px 20px
  color: #fff
  background: #3691e0

  a
    color: #fff
    text-shadow: 0 0.1em 0.1em darken($blue, 20%)
    &.btn
      color: $text-color
      text-shadow: none
      margin-top: 0

  .nav
    li
      a
        color: #fff
        text-shadow: 0 0.1em 0.1em darken($blue, 20%)
        &:hover
          color: #ddd

    &.user-nav
      @media screen and (min-width:$medium-screen)
        float: right

  h1.logo
    font-size: 28px
    width: 200px
    margin: 0 auto
    letter-spacing: -1px


.form-search
  padding: 10px 20px
  margin-bottom: 40px
  background: #fff
  border-bottom: 1px solid #eaeaea