#viewport,
#page
  min-height: 100%

#close-mask
  display: none
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 999
  background-color: transparent


#page
  background: #f0f0f0
  position: relative
  z-index: 2
  -webkit-transition-property: -webkit-transform
  -webkit-transform: translate3d(0, 0, 0)
  @include transition(all .25s)

#menu
  position: fixed
  width: 260px
  top: 0
  left: 0
  bottom: 0
  @extend .list-simple
  padding: 10px
  background: #fff

  ul
    margin: 0
  
  li
    list-style: none
    height: 45px
    padding: 5px 10px


/* Animation */
body.menu-open
  #close-mask
    display: block

  #menu
    overflow: auto
    -webkit-overflow-scrolling: touch

  #page
    @include translate3d(260px, 0, 0)